PORT=5000
# DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
DATABASE_URL="postgresql://postgres:chris00@localhost:5432/livestockdb"
JWT_SECRET=your_super_secret_jwt_key
JWT_EXPIRE=7d

PAYSTACK_SECRET_KEY=sk_test_your_paystack_secret_key
PAYSTACK_PUBLIC_KEY=pk_test_your_paystack_public_key
